---
import { Picture } from 'astro:assets';

import EnvelopeLinkComponent from '../components/envelope-link-component.astro';
import ExternalLinkSvg from '../components/svgs/external-link-svg.astro';
import GithubLinkComponent from '../components/github-link-component.astro';
import LinkedinLinkComponent from '../components/linkedin-link-component.astro';
import Portrait from '../assets/portrait.jpg';
import RootLayout from '../layouts/root-layout.astro';
import TwitchLinkComponent from '../components/twitch-link-component.astro';
import TwitterLinkComponent from '../components/twitter-link-component.astro';

const date = new Date();
---

<RootLayout>
    <header class="space-y-8">
        <Picture
            alt="Portrait"
            densities={[1.5, 2]}
            fetchpriority={'high'}
            height={144}
            loading={'eager'}
            class="h-auto w-36 rounded-full outline outline-1 outline-offset-4 outline-slate-300"
            quality="max"
            src={Portrait}
            width={144}
        />
        <div class="space-y-6">
            <h1 class="text-balance text-xl text-white md:text-2xl">
                I'm Rafael, software engineer and indie maker from Madrid!
            </h1>
            <p class="text-balance text-base text-slate-300 md:text-xl">
                I enjoy building software products and sharing the experience on social media.
            </p>
            <div class="flex items-center justify-between py-2 md:gap-x-12">
                <span class="inline-block text-gray-300 duration-300 hover:opacity-70">
                    <GithubLinkComponent />
                </span>
                <span class="inline-block text-gray-300 duration-300 hover:opacity-70">
                    <LinkedinLinkComponent />
                </span>
                <span class="inline-block text-gray-300 duration-300">
                    <EnvelopeLinkComponent />
                </span>
                <span class="inline-block text-gray-300 duration-300 hover:opacity-70">
                    <TwitchLinkComponent />
                </span>
                <span class="inline-block text-gray-300 duration-300 hover:opacity-70">
                    <TwitterLinkComponent />
                </span>
            </div>
        </div>
    </header>
    <main class="space-y-6">
        <h2 class="text-lg text-white md:text-2xl">Projects</h2>
        <span
            aria-label="Unnamed"
            class="group/card block space-y-4 rounded border border-dashed border-slate-300 bg-slate-900 p-4 duration-300 hover:border-opacity-70 md:space-y-6"
        >
            <h3 class="font-medium text-white md:text-lg">Unnamed</h3>
            <p class="text-pretty text-sm text-slate-300 md:text-base">
                Secret project on how to unleash the potential of your listeners by offering them exclusive content.
            </p>
            <div class="flex items-center gap-x-2 py-2">
                <span
                    class="inline-flex items-center rounded bg-emerald-100 px-2 py-1 text-xs font-medium text-emerald-700 ring-1 ring-inset ring-emerald-700/20 md:text-sm"
                >
                    Active
                </span>
                <span
                    class="inline-flex items-center rounded bg-indigo-100 px-2 py-1 text-xs font-medium text-indigo-700 ring-1 ring-inset ring-indigo-700/20 md:text-sm"
                >
                    Developing
                </span>
                <span
                    class="ml-auto inline-flex items-center text-slate-300 opacity-80 duration-300 group-hover/card:opacity-100"
                >
                    <ExternalLinkSvg />
                </span>
            </div>
        </span>
    </main>
    <footer class="mt-auto text-center text-slate-300">
        <p>© {date.getFullYear()}. Made with ❤ in Spain.</p>
        <p>I don't use cookies.</p>
    </footer>
</RootLayout>
