<a
    class="relative before:pointer-events-none before:absolute before:bottom-auto before:left-1/2 before:right-auto before:top-[2.125rem] before:z-10 before:inline-flex before:-translate-x-1/2 before:items-center before:rounded before:bg-slate-900 before:px-2 before:py-1 before:font-medium before:text-white before:opacity-0 before:ring-1 before:ring-inset before:ring-slate-600/20 before:transition before:duration-300 before:ease-in-out before:content-[attr(data-tooltip)] before:hover:opacity-100 before:active:opacity-100"
    aria-label="Email"
    class="tooltip"
    data-tooltip="rafael@gilete.net"
    href="#"
    rel="noopener noreferrer nofollow"
    target="_self"
>
    <svg
        class="h-auto w-5 md:w-6"
        fill="currentColor"
        height="2rem"
        stroke="none"
        viewBox="0 0 512 512"
        width="2rem"
        xmlns="http://www.w3.org/2000/svg"
    >
        <path
            d="M48 64C21.5 64 0 85.5 0 112c0 15.1 7.1 29.3 19.2 38.4L236.8 313.6c11.4 8.5 27 8.5 38.4 0L492.8 150.4c12.1-9.1 19.2-23.3 19.2-38.4c0-26.5-21.5-48-48-48H48zM0 176V384c0 35.3 28.7 64 64 64H448c35.3 0 64-28.7 64-64V176L294.4 339.2c-22.8 17.1-54 17.1-76.8 0L0 176z"
        >
        </path>
    </svg>
</a>
