<!doctype html>
<html class="antialiased" lang="en" prefix="og:http://ogp.me/ns#">
    <head>
        <link as="font" crossorigin="anonymous" href="/poppins-400-normal.woff2" rel="preload" type="font/woff2" />
        <link as="font" crossorigin="anonymous" href="/poppins-500-normal.woff2" rel="preload" type="font/woff2" />
        <link href="/favicon.ico" rel="icon" />
        <link href="https://www.gilete.net" rel="canonical" />
        <meta charset="UTF-8" />
        <meta content="IE=edge" http-equiv="X-UA-Compatible" />
        <meta
            content="I'm a senior software engineer from Madrid, Spain. I enjoy bootstrapping SaaS products with NodeJS, TypeScript and AWS."
            name="description"
        />
        <meta content="width=device-width, initial-scale=1.0" name="viewport" />
        <meta content="Senior Software Engineer and Indie Maker" property="og:description" />
        <meta content="https://www.gilete.net/social-media.jpg" property="og:image" />
        <meta content="Rafael Gilete Mogena" property="og:title" />
        <meta content="website" property="og:type" />
        <meta content="https://www.gilete.net" property="og:url" />
        <meta content="summary_large_image" name="twitter:card" />
        <title>Rafael Gilete Mogena | Software Engineer and Indie Maker</title>
    </head>
    <body class="mx-auto flex w-full max-w-xl flex-col gap-y-12 bg-slate-800 px-8 py-12 md:px-16 md:py-20">
        <slot />
    </body>
</html>

<style>
    @font-face {
        font-display: swap;
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 400;
        src: url('/poppins-400-normal.woff2') format('woff2');
    }

    @font-face {
        font-display: swap;
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 500;
        src: url('/poppins-500-normal.woff2') format('woff2');
    }
</style>
