<!doctype html>
<html class="antialiased" lang="en" prefix="og:http://ogp.me/ns#">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta
            name="description"
            content="I'm a senior software engineer from Madrid, Spain. I enjoy bootstrapping SaaS products with NodeJS, TypeScript and AWS."
        />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta property="og:description" content="Senior Software Engineer and Indie Maker" />
        <meta property="og:image" content="https://www.gilete.net/social-media.jpg" />
        <meta property="og:title" content="Rafael Gilete Mogena" />
        <meta property="og:type" content="website" />
        <meta property="og:url" content="https://www.gilete.net" />
        <meta name="twitter:card" content="summary_large_image" />
        <link as="font" crossorigin="anonymous" href="/poppins-400-normal.woff2" rel="preload" type="font/woff2" />
        <link as="font" crossorigin="anonymous" href="/poppins-500-normal.woff2" rel="preload" type="font/woff2" />
        <link href="/favicon.ico" rel="icon" />
        <title>{`Rafael Gilete Mogena <> Software Engineer and Indie Maker`}</title>
    </head>
    <body class="mx-auto flex w-full max-w-xl flex-col gap-y-12 bg-slate-800 px-8 py-12 md:px-16 md:py-20">
        <slot />
    </body>
</html>

<style>
    @font-face {
        font-display: swap;
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 400;
        src: url('/poppins-400-normal.woff2') format('woff2');
    }

    @font-face {
        font-display: swap;
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 500;
        src: url('/poppins-500-normal.woff2') format('woff2');
    }
</style>
